:root {
    --mainColor: darkgray;
}

body {
    margin: 0;
}

.main {
    background-color: var(--mainColor);
    margin-inline: 5%;
    margin-top: 0px;
}

header {
    position: sticky;
    top: 0;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
}

.itemCabecalho {
    padding: 5px;
    margin: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#titleLogo {
    font-size: medium;
}

.containerLivros {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.titleGenero {
    font-weight: normal;
    font-size: large;
    margin: 1px;
    padding: 5px;
    width: 100%;
}

.livros {
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;                                                           
    width: auto;
    height: 200px;
    border: solid 1px green;
    padding: 5px;
    overflow-x: auto;
}

.livro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 140px;
    height: auto;
    padding: 2px;
    margin: 5px;
    background-color: #bfbfbf;;
}

.fotoCapa {
    width: 100%;
    height: 40%;
    margin-bottom: 15px;
    background-color: red;
}

.titleLivro {
    margin-bottom: 15px;
    margin: 1px;
    padding: 1px;
}

.descricaoLivro {
    margin: 1px;
    padding: 1px;
}

#buttonRecomendados {
    margin: auto;
}

#changePage {
    margin: auto;
}