body {
    margin: 0;
}

.main {
    margin-inline: 5%;
    margin-top: 50px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkgray;
}

.itemCabecalho {
    padding: 3px;
    justify-content: space-around;
}

#titleLogo {
    font-size: medium;
}

.containerLivros {
    display: flex;
    flex-direction: column;
}

.titleGenero {
    font-weight: normal;
    font-size: large;
    margin: 1px;
    background-color: darkgray;
}

.livros {
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;                                                           
    width: 100%;
    height: auto;
    border: solid 1px green;
    margin:
    padding: 5px;
    background-color: gray;
}

.livro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 140px;
    height: 200px;
    padding: 2px;
    margin: 5px;
    background-color: #bfbfbf;;
}

.fotoCapa {
    width: 100%;
    height: 40%;
    margin-bottom: 15px;
    background-color: red;
}

.titleLivro {
    margin-bottom: 15px;
    margin: 1px;
    padding: 1px;
}

.descricaoLivro {
    margin: 1px;
    padding: 1px;
}

#buttonRecomendados {
    display: block;
    margin-inline: auto;
}