:root {
    --mainColor: darkgray;
    --lightPink: rgb(255 193 218);/* rgb(242 101 158 / 25%);*/
    --pink: rgb(255 167 202);
    --colorLetter: #2f2f2f;
}

#main {
    width: 80%;
    box-shadow: none;
}

.container {
    padding: 30px;
}

.containerLivros {
    display: flex;
    flex-direction: column;
}

.titleGenero {
    font-weight: normal;
    font-size: large;
    margin: 20px 0 0 0;
    padding: 5px 0px;
    width: 100%;
}

.livros {
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;                                                           
    width: auto;
    height: 300px;
    border: solid 1px #a3a3a3;
    box-sizing: border-box;
    padding: 5px;
    overflow-x: auto;
}

#recomendados {
    height: 150px;
}

.livro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 140px;
    height: auto;
    padding: 2px;
    margin: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.fotoCapa {
    width: 100%;
    height: 55%;
    background-color: var(--pink);
}

.imageCapaLivro {
    width: 100%;
    height: 100%;
}

.textLivro {
    margin-inline: 5px;
}

.titleLivro {
    margin-bottom: 15px;
    margin: 5px 0;
    padding: 5px 0;
    font-size: large;
    font-weight: normal;
}

.descricaoLivro {
    margin: 1px;
    padding: 1px;
    max-width: 140px;
    font-size: medium;
    text-overflow: ellipsis;
    overflow: hidden;

}

#buttonRecomendados {
    padding: 10px;
}

#changePage {
    margin: auto;
}