:root {
    --mainColor: darkgray;
}

body {
    margin: 0;
}

.main {
    background-color: var(--mainColor);
    margin-inline: 5%;
    margin-top: 0px;
}

.sidebar {
    position: sticky;
    top: 0;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255 197 197);
}

.itemCabecalho {
    padding: 5px;
    margin: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.itemCabecalho > * {
    text-decoration: none;
}

#titleLogo {
    font-size: medium;
    margin: 0;
}



#loginTab {
    display: none;
}