body {
	background-color: #242424;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: normal;
}

.container {
	width: 100vw;
	background-color: #3aa699;
	color: #e4e4e4;
	padding: 5px 0px;
	text-align: center;
	font-family: sans-serif;
	font-size: 1rem;
}

#rgbNumber {
	font-size: 3rem;
}

.menu {
	width: 100vw;
	background-color: #e4e4e4;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	font-size: medium;
	height: auto;
	cursor: default;
}
#reset, #message, #easy, #hard {
	border: none;
	background-color: inherit;
	color: #3aa699;
	display: inline-block;
	padding: 5px;
	font-size: 1.3rem;
}

#reset:hover, #easy:hover, #hard:hover {
	background-color: #3aa699;
	color: #e4e4e4;
}

#easy.selected, #hard.selected {
	background-color: #3aa699;
	color: #e4e4e4;
}

#mode {
	display: flex;
	justify-content: center;
}

#colors {
	display: grid;
	justify-content: center;
	column-gap: 2%;
	grid-template-columns: auto auto auto;
	margin-inline: 5px;
}

.color {
	border-radius: 20px;
	height: 10rem;
	width: 10rem;
	margin: 10px 20px;
}

@media (max-width: 359px) {
	html {
		font-size: 14px;
	}
	.color {
		height: 5rem;
		width: 5rem;
	}
	#colors {
		grid-template-columns: auto;
	}

}

@media (min-width: 360px) and (max-width: 499px) {
	html {
		font-size: 10px;
	}
	.color {
		height: 8rem;
		width: 8rem;
	}
}

@media (min-width: 500px) and (max-width: 800px) {
	html {
		font-size: 11px;
	}
}

@media (min-width: 800px) {
	html {
		font-size: 14px;
	}
}
@media (min-width: 1600px) {
	html {
		font-size: 20px;
	}
}
